[submodule "LocationChatDemo/LocationChatDemo/Libraries/CocoaAsyncSocket"]
	path = LocationChatDemo/LocationChatDemo/Libraries/CocoaAsyncSocket
	url = https://github.com/robbiehanson/CocoaAsyncSocket.git
